.footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--bg-rodape);
        
    font-family: var(--font-title);
    font-size: 1rem;
       
    
    padding: 2.5rem 2.5rem;
}
.footer__logo{
    padding-bottom: 1rem;
}

.lista__app {
    display: flex;
    
    padding-bottom: 1rem;
}

.redes__sociais {
    display: block;
    padding: 2rem;

    width: 47px;
    height: 47px;
}


/*## CONTATOS;*/

.footer__email, .footer__telefone {
    color: var(--branco);

    line-height: 1.8rem;

    text-align: center;
}

.email__icon {
    width: 15px;

}


